<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title> 房源搜索系统</title>
    <link href="webfile/index.css" rel="stylesheet" />
    <link href="webfile/agent-sj-sdk.css" rel="stylesheet" />
    <style>
        
        i {
            color:red;
        }
    </style>
</head>



<!-- htmlRef -->

<body id="beike">
    <div class="sellListPage">

        <div class="header">
            <div class="search">
                <div class="input CLICKDATA" data-click-evtid="12338" data-click-event="WebClick"
                     data-action="source_type=PC小区列表搜索框点击" log-mod="search">

                    <input type="text" id="searchInput" placeholder="请输入区域或楼盘名开始找房" autocomplete="off">
                    <div class="inputRightPart">
                        <div class="save" id="savedSearchMsg">
                            <span id="savedSearchCount">0</span>
                            条已保存搜索
                            <span id="savedSearchArrow" class="downArrow"></span>
                        </div>
                        <button class="searchButton" data-bl="search"
                                data-el="search">
                            搜索
                        </button>
                    </div>

                    <div class="searchMsg" id="searchMsgContainer" style="display: none;"></div>
                </div>
            </div>
        </div>


        <script type="text/template" id="hotSearchTpl">
            <div class="searchMsgTitle">
                <span class="searchMsgName">热门搜索</span>
            </div>
            <ul data-bl="sug" data-el="history">
                <%for(var i =0; i < list.length; i++){%>
                <li>
                    <a role="addHistory" href="<%=list[i].url%>" data-log_index="<%=i+1%>" data-log_value="<%=list[i].string%>" class="sug--search_item CLICKDATA" data-click-evtid="11184" data-click-event="SugClick" data-action="source_type=PC房源列表搜索&click_position=<%=i%>&item_type=热门&item_detail=<%=list[i].string%><%for(var j in list && list[0] && list[0].strategyInfo || {}){%>&<%=j+'='+list[0].strategyInfo[j]%><%}%>">
                        <span class="msgListTitle" role="historyKey"><%=$.encodeHTML(list[i].string)%></span>
                    </a>
                </li>
                <%}%>
            </ul>
        </script>
        <script type="text/template" id="searchHistoryTpl">
            <div class="searchMsgTitle">
                <span class="searchMsgName">搜索历史</span>
                <div class="searchMsgTitleRightPart">
                    <a href="#" id="clearSearchHistory" class="manage">清除历史记录</a>
                </div>
            </div>
            <ul data-bl="sug" data-el="history">
                <%for(var i = 0; i < list.length; i++){%>
                <li>
                    <a href="<%=list[i].url%>" role="addHistory" data-for_search_server="from=history_click&refer=<%=ljConf.page%>" data-log_index="<%=i+1%>" data-log_value="<%=$.encodeHTML(list[i].name)%>" class="sug--search_item CLICKDATA" data-click-evtid="11184" data-click-event="SugClick" data-action="source_type=PC房源列表搜索&click_position=<%=i%>&item_type=历史&item_detail=<%=$.encodeHTML(list[i].name)%><%for(var j in list && list[0] && list[0].strategyInfo || {}){%>&<%=j+'='+list[0].strategyInfo[j]%><%}%>">
                        <span class="msgListTitle" role="historyKey"><%=$.encodeHTML(list[i].name)%></span>
                        <%if(list[i].newCount) {%>
                        <span class="msgListAdd"><%=list[i].newCount%>套新增房源</span>
                        <%}%>
                    </a>
                </li>
                <%}%>
            </ul>
        </script>
        <script type="text/template" id="searchSuggestionTpl">
            <div class="searchMsgTitle">
                <span class="searchMsgName">你可能在找</span>
            </div>
            <ul data-bl="sug" data-el="sug">
                <%for(var i = 0;i < list.length;i++){%>
                <li>
                    <a href="<%=list[i].url%>" role="addHistory" data-for_search_server="from=sug_click&refer=<%=ljConf.page%>" data-log_index="<%=i+1%>" data-log_value="<%=list[i].text%>" class="CLICKDATA" data-click-evtid="11184" data-click-event="SugClick" data-action="source_type=PC房源列表搜索&click_position=<%=i%>&item_type=订阅&item_detail=<%=list[i].text%><%for(var j in list[i].strategyInfo || {}){%>&<%=j%>=<%=list[i].strategyInfo[j]%><%}%>">
                        <%if(list[i].hlsText){ %>
                        <span class="msgListTitle">
                            <%if(list[i].sugTypeName){%>
                            <span class="sug_region"><%=list[i].sugTypeName.text%></span>
                            <%}%>
                            <span role="historyKey" class="historyKey"><%=list[i].hlsText%></span>
                        </span>
                        <% }else if(list[i].hls_title){ %>
                        <span class="msgListTitle">
                            <%if(list[i].sug_type_name){%>
                            <span class="sug_region"><%=list[i].sug_type_name.text%></span>
                            <%}%>
                            <span role="historyKey" class="historyKey"><%=list[i].hls_title%></span>
                        </span>
                        <% }else{ %>
                        <span class="msgListTitle">
                            <span role="historyKey"><%=list[i].title%></span>
                            <span class="msgListArea"><%=list[i].region%></span>
                        </span>
                        <%}%>
                        <%if(type === 'sell' && list[i].count){%>
                        <span class="msgListAdd">约<%=list[i].count%>套</span>
                        <%}else if(type === 'deal' && list[i].count){%>
                        <span class="msgListAdd">约<%=list[i].count%>套</span>
                        <%}%>
                    </a>
                </li>
                <%}%>
            </ul>
        </script>
        <script type="text/template" id="savedSearchTpl">
            <div class="searchMsgTitle">
                <span class="searchMsgName">已保存搜索</span>
                <div class="searchMsgTitleRightPart">
                    <%if(totalCount){%>
                    <a class="totalNew">查看<%=totalCount%>套新增房源</a>
                    <%}%>
                    <a href="<%=userCenterUrl%>" class="manage">管理</a>
                </div>
            </div>
            <ul data-bl="sug" data-el="history">
                <%for(var i = 0; i < savedData.length; i++){
                var title = savedData[i].query ? savedData[i].query + '&nbsp;' : '';
                title = title + savedData[i].title.join('&nbsp;');
                %>
                <li>
                    <a href="<%=savedData[i].url%>" data-for_search_server="from=dingyue_click&refer=<%=ljConf.page%>" role="savedSearch" data-log_index="<%=i+1%>" data-log_value="<%=title%>" class="sug--search_item">
                        <span class="msgListTitle"><%=title%></span>
                        <%if(savedData[i].unread && savedData[i].unread !== 0){%>
                        <span class="msgListAdd">新增<%=savedData[i].unread%>套</span>
                        <%}%>
                    </a>
                </li>
                <%}%>
            </ul>
        </script>

        <script>
            var hotSearchData = {
                channel: [{ "name": "\u4e8c\u624b\u623f", "action": "ershoufang", "channel": "ershoufang", "checked": 1, "tipsHot": null }, { "name": "\u5c0f\u533a", "action": "xiaoqu", "channel": "xiaoqu", "checked": 0, "tipsHot": null }, { "name": "\u6210\u4ea4", "action": "chengjiao", "channel": "chengjiao", "checked": 0, "tipsHot": null }, { "name": "\u65b0\u623f", "action": "loupan", "channel": "xinfang", "checked": 0, "tipsHot": null }, { "name": "\u79df\u623f", "action": "zufang", "channel": "zufang", "checked": 0, "tipsHot": null }],
                curChannel: 'ershoufang'
            };
        </script>

        <div class="m-filter" data-component="C_filter">

            <div class="list-more">

                <dl class=" hasmore">
                    <h2>
                        <dt title="重庆价格在售二手房">价格</dt>
                    </h2>
                    <dd>
                        <a href="https://cq.ke.com/ershoufang/l1p1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">40万以下</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/l1p2c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">40-60万</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/l1p3c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">60-80万</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/l1p4c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">80-100万</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/l1p5c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">100-150万</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/l1p6c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">150-200万</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/l1p7c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">200万以上</span>
                        </a>
                        <span class="customFilter mt" data-role="price">
                            <input type="text" role="minValue" value="">
                            <span>-</span>
                            <input type="text" role="maxValue" value="">&nbsp;
                            <span>万</span>
                            <button class="btn-range hide"
                                    data-url="/ershoufang/l1bp{min}ep{max}c3611060491220">
                                确定
                            </button>
                        </span>

                    </dd>
                </dl>
                <dl class=" ">
                    <h2>
                        <dt title="重庆房型在售二手房">房型</dt>
                    </h2>
                    <dd>
                        <a href="https://cq.ke.com/ershoufang/c3611060491220" rel="nofollow">
                            <span class="checkbox checked"></span>
                            <span class="name">一室</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/l1l2c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">二室</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/l1l3c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">三室</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/l1l4c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">四室</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/l1l5c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">五室</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/l1l6c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">五室以上</span>
                        </a>
                    </dd>
                </dl>
                <dl class=" hasmore">
                    <h2>
                        <dt title="重庆建筑面积在售二手房">建筑面积</dt>
                    </h2>
                    <dd>
                        <a href="https://cq.ke.com/ershoufang/a1l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">30㎡以下</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/a2l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">30-50㎡</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/a3l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">50-70㎡</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/a4l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">70-90㎡</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/a5l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">90-120㎡</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/a6l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">120-150㎡</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/a7l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">150-200㎡</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/a8l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">200-300㎡</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/a9l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">300㎡以上</span>
                        </a>
                        <span class="customFilter mt" data-role="area">
                            <input type="text" role="minValue" value="">
                            <span>-</span>
                            <input type="text" role="maxValue" value="">&nbsp;
                            <span>平</span>
                            <button class="btn-range hide"
                                    data-url="/ershoufang/ba{min}ea{max}l1c3611060491220">
                                确定
                            </button>
                        </span>

                    </dd>
                </dl>
                <dl class=" hasmore">
                    <h2>
                        <dt title="重庆房源特色在售二手房">房源特色</dt>
                    </h2>
                    <dd>
                        <a href="https://cq.ke.com/ershoufang/tt9l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">必看好房</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/mw1l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">满五年</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/ty1l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">满两年</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/su1l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">近地铁</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/tt8l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">VR房源</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/tt2l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">7日新上</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/tt4l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">随时看房</span>
                        </a>
                    </dd>
                </dl>
                <dl class="hide " data-role="hide-row">
                    <h2>
                        <dt title="重庆朝向在售二手房">朝向</dt>
                    </h2>
                    <dd>
                        <a href="https://cq.ke.com/ershoufang/f5l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">南北</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/f2l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">朝南</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/f1l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">朝东</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/f4l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">朝北</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/f3l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">朝西</span>
                        </a>
                    </dd>
                </dl>
                <dl class="hide " data-role="hide-row">
                    <h2>
                        <dt title="重庆楼层在售二手房">楼层</dt>
                    </h2>
                    <dd>
                        <a href="https://cq.ke.com/ershoufang/lc1l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">低楼层</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/lc2l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">中楼层</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/lc3l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">高楼层</span>
                        </a>
                    </dd>
                </dl>
                <dl class="hide " data-role="hide-row">
                    <h2>
                        <dt title="重庆楼龄在售二手房">楼龄</dt>
                    </h2>
                    <dd>
                        <a href="https://cq.ke.com/ershoufang/y1l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">5年以内</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/y2l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">10年以内</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/y3l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">15年以内</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/y4l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">20年以内</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/y5l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">20年以上</span>
                        </a>
                    </dd>
                </dl>
                <dl class="hide " data-role="hide-row">
                    <h2>
                        <dt title="重庆装修在售二手房">装修</dt>
                    </h2>
                    <dd>
                        <a href="https://cq.ke.com/ershoufang/de1l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">精装修</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/de2l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">普通装修</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/de3l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">毛坯房</span>
                        </a>
                    </dd>
                </dl>
                <dl class="hide " data-role="hide-row">
                    <h2>
                        <dt title="重庆用途在售二手房">用途</dt>
                    </h2>
                    <dd>
                        <a href="https://cq.ke.com/ershoufang/sf1l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">普通住宅</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/sf2l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">商业类</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/sf3l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">别墅</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/sf4l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">四合院</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/sf6l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">车位</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/sf5l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">其他</span>
                        </a>
                    </dd>
                </dl>
                <dl class="hide " data-role="hide-row">
                    <h2>
                        <dt title="重庆电梯在售二手房">电梯</dt>
                    </h2>
                    <dd>
                        <a href="https://cq.ke.com/ershoufang/ie2l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">有电梯</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/ie1l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">无电梯</span>
                        </a>
                    </dd>
                </dl>
                <dl class="hide " data-role="hide-row">
                    <h2>
                        <dt title="重庆权属在售二手房">权属</dt>
                    </h2>
                    <dd>
                        <a href="https://cq.ke.com/ershoufang/dp1l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">商品房</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/dp2l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">公房</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/dp3l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">经适房</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/dp4l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">其他</span>
                        </a>
                    </dd>
                </dl>
                <dl class="hide " data-role="hide-row">
                    <h2>
                        <dt title="重庆类型在售二手房">类型</dt>
                    </h2>
                    <dd>
                        <a href="https://cq.ke.com/ershoufang/bt1l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">塔楼</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/bt2l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">板楼</span>
                        </a>
                        <a href="https://cq.ke.com/ershoufang/bt3l1c3611060491220" rel="nofollow">
                            <span class="checkbox "></span>
                            <span class="name">板塔结合</span>
                        </a>
                    </dd>
                </dl>
                <!-- <dl class="hide otherItem" data-role="hide-row">
                  <dt class="other">其他</dt>
                  <dd>
                  <form id="otherSearchForm">
                    <input class="inp-search" type="text" value="" placeholder="在结果中搜索">
                    <button type="submit" class="btn-search">确定</button>
                  </form>
                  </dd>
                </dl> -->
            </div>
            <div class="more btn-more">更多选项<span class="arrow"></span></div>
        </div>
        <div class="content ">
            <!-- 左侧内容 -->
            <div class="leftContent">
                <div class="orderFilter" data-component="C_listOrderFilter">
                    <div class="orderTag">
                        <ul>
                            <li class="selected">
                                <h3><a href="https://cq.ke.com/ershoufang/l1c3611060491220">默认排序</a></h3>
                            </li>
                            <li>
                                <h3><a href="https://cq.ke.com/ershoufang/co32l1c3611060491220">最新发布</a></h3>
                            </li>
                            <li>
                                <h3><a href="https://cq.ke.com/ershoufang/co21l1c3611060491220">总价</a></h3>
                            </li>
                            <li>
                                <h3><a href="https://cq.ke.com/ershoufang/co41l1c3611060491220">房屋单价</a></h3>
                            </li>
                            <li>
                                <h3><a href="https://cq.ke.com/ershoufang/co11l1c3611060491220">面积</a></h3>
                            </li>
                        </ul>
                    </div>
                </div>
                <div data-component="listOverview">
                    <div class="resultDes clear">

                        <h2 class="total fl">
                            共找到<span> 11 </span>套 <a href="https://cq.ke.com/ershou珠江华轩fang/c3611060491220/">珠江华轩二手房</a>
                        </h2>
                        <div class="button fr">
                            <div class="clearBtn hide">
                                <a href="https://cq.ke.com/ershoufang/"><span></span>清空条件</a>
                            </div>

                            <div class="saveBtn " data-view-evtid="11885" data-view-event="ItemExpo"
                                 data-action="source_type=PC列表页保存搜索按钮曝光">
                                <a href="https://cq.ke.com/ershoufang/l1c3611060491220/#" class="CLICKDATA"
                                   data-click-evtid="11886" data-click-event="WebClick"
                                   data-action="source_type=PC列表页保存搜索按钮点击" id="saveBtn"><span></span>保存搜索</a>
                            </div>
                        </div>
                    </div>

                    <div id="newAddHouseContainer"></div>

                    <div class="saveMegmask"></div>
                    <div class="saveok">
                        <div class="fl">
                        </div>
                        <div class="fr">
                            <span>已成功保存搜索条件！</span>
                            <p>您可在搜索框右侧下拉列表中快速使用该条件。该条件有新房源出现时，我们将会用站内提醒的方式来通知您</p>
                            <label class="close">确定</label>
                        </div>
                    </div>
                    <div class="saveerror">
                        <div class="fl"></div>
                        <div class="fr">
                            <span>你的搜索条件已达到上限！</span>
                            <p>您可在搜索框右侧下拉列表中快速使用该条件。该条件有新房源出现时，我们将会用站内提醒的方式来通知您。</p>
                            <a href="https://user.ke.com/site/searchlist/" rel="nofollow">个人中心</a>
                            <label class="close">取消</label>
                        </div>
                    </div>
                </div>
                <!-- 无结果留资模块 -->
                <!-- 卡片吊顶 -->
                <div data-component="C_semCard">
                    <div id="sem_card" keyword="" semcommunityid="0" semresblockid="3611060491220" semdistrictid=""
                         sembizcircleid="" semsubwaystationid="" semtype="resblock">
                        <div class="agentCardPush agentCardPushNew " data-view-event="ModuleExpo" data-bl="agentim"
                             log-mod="ershoufang_list_semcard" data-el="1000000026559621">


                            <div class="agentCardAgentInfo component-agent-id-100000100"
                                 data-fb-query-id="256733881628803072">
                                <style>
                                    .ke-agent-sj-sdk {
                                        width: 100%
                                    }

                                    .ke-agent-sj-sdk-f-0 {
                                        font-size: 0
                                    }

                                    .ke-agent-sj-clear {
                                        clear: both
                                    }

                                    .component-agent-es-pc-4 {
                                        font-family: "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei", "微软雅黑", "Segoe UI", Tahoma, "宋体b8b体", SimSun, sans-serif;
                                        font-size: 14px;
                                        background: #fff
                                    }

                                        .component-agent-es-pc-4 .ke-agent-sj-Push {
                                            line-height: 1;
                                            overflow: hidden;
                                            *zoom: 1
                                        }

                                        .component-agent-es-pc-4 .ke-agent-sj-Info {
                                            float: left;
                                            *zoom: 1
                                        }

                                        .component-agent-es-pc-4 .ke-agent-sj-avatar {
                                            float: left
                                        }

                                        .component-agent-es-pc-4 .ke-agent-sj-erudite {
                                            position: relative
                                        }

                                            .component-agent-es-pc-4 .ke-agent-sj-erudite img {
                                                width: 84px;
                                                height: 84px;
                                                border-radius: 84px;
                                                object-fit: cover
                                            }

                                        .component-agent-es-pc-4 .ke-agent-sj-agent_erudite:after {
                                            content: "";
                                            position: absolute;
                                            left: -3%;
                                            right: -3%;
                                            padding-top: 40%;
                                            bottom: -9%;
                                            background-position: bottom;
                                            background-repeat: no-repeat;
                                            background-size: contain
                                        }

                                        .component-agent-es-pc-4 .ke-agent-sj-cardAgentInfo {
                                            float: left;
                                            margin-left: 16px;
                                            width: 235px
                                        }

                                        .component-agent-es-pc-4 .ke-agent-sj-NameContainer {
                                            font-size: 0
                                        }

                                        .component-agent-es-pc-4 .ke-agent-sj-name {
                                            color: #101d37;
                                            font-size: 22px;
                                            font-weight: 700
                                        }

                                        .component-agent-es-pc-4 .ke-agent-sj-cardAgentPhone {
                                            margin-top: 9px;
                                            color: #fe5d56;
                                            font-size: 15px;
                                            font-weight: 700;
                                            line-height: 20px;
                                            height: 20px
                                        }

                                        .component-agent-es-pc-4 .ke-agent-sj-phone_num {
                                            font-size: 14px;
                                            width: 165px;
                                            display: inline-block;
                                            overflow: hidden
                                        }

                                        .component-agent-es-pc-4 .ke-agent-sj-im {
                                            display: inline-block;
                                            margin-left: 8px;
                                            cursor: pointer;
                                            background-image: url("https://img.ljcdn.com/beike/agent-sj-sdk/1564387195203.png");
                                            background-position: -498px -71px;
                                            width: 51px;
                                            height: 20px
                                        }

                                    @@media(-webkit-min-device-pixel-ratio:2), (min-resolution:192dpi) {
                                        .component-agent-es-pc-4 .ke-agent-sj-im {
                                            background-image: url("https://img.ljcdn.com/beike/agent-sj-sdk/1564386919180.png");
                                            background-size: 560px 349px
                                        }
                                    }

                                    .component-agent-es-pc-4 .ke-agent-sj-cardAgentDesc {
                                        color: #9c9fa1;
                                        font-size: 15px;
                                        line-height: 21px;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        margin-top: 6px
                                    }

                                    .component-agent-es-pc-4 .ke-agent-sj-jjr_card_div {
                                        margin-top: 8px
                                    }

                                    .component-agent-es-pc-4 .ke-agent-sj-sale {
                                        font-size: 12px;
                                        padding: 5px 8px;
                                        color: #3c475d;
                                        line-height: 22px;
                                        margin-right: 3px;
                                        background: rgba(205, 208, 213, 0.3)
                                    }
                                </style>

                            </div>


                            <div class="agentCardResblockInfo">
                                <div class="agentCardResblockName">
                                    <a class="agentCardResblockTitle LOGCLICK maidian-detail"
                                       data-bl="agent_resblock_name" data-maidian_query="256733881628803072"
                                       data-log_value="3611060491220" data-log_source="链家" data-log_statid=""
                                       target="_blank" href="https://cq.ke.com/xiaoqu/3611060491220/">珠江华轩</a>
                                    <span class="agentCardResblockSubTitle">

                                        九龙坡


                                        石桥铺

                                    </span>


                                    <a href="https://cq.ke.com/xiaoqu/3611060491220/" target="_blank"
                                       class="agentCardResblockLink LOGCLICK" data-bl="agent_resblock_info"
                                       data-log_value="3611060491220" data-log_source="链家"
                                       data-log_statid="">查看小区详情</a>


                                </div>
                                <div class="agentCardResblockDetail">
                                    <!--  -->
                                    <div class="agentCardDetailItem price">
                                        <div class="agentCardDetailTitle">小区均价</div>
                                        <div target="_blank" class="agentCardDetailInfo LOGCLICK"
                                             data-bl="agent_resblock_avg" data-log_value="3611060491220"
                                             data-log_source="链家" data-log_statid="">

                                            12236元/平米

                                        </div>
                                    </div>

                                    <!--  -->

                                    <div class="agentCardDetailItem">
                                        <div class="agentCardDetailTitle">正在出售</div>
                                        <div class="agentCardDetailInfo">

                                            62套

                                        </div>
                                    </div>
                                    <!--  -->
                                    <div class="agentCardDetailItem">
                                        <div class="agentCardDetailTitle">近90天成交</div>
                                        <div target="_blank" class="agentCardDetailInfo LOGCLICK"
                                             data-bl="agent_resblock_sale" data-log_value="3611060491220"
                                             data-log_source="链家" data-log_statid="">

                                            3套

                                        </div>
                                    </div>
                                    <!--  -->
                                    <div class="agentCardDetailItem">
                                        <div class="agentCardDetailTitle">近30天带看</div>
                                        <div class="agentCardDetailInfo">

                                            76次

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div data-component="list">
                    <!-- 楼盘列表 -->

                    <ul id="sellListContent" class="sellListContent" log-mod="list">
                    </ul>

                </div>
                <div data-component="C_listBottom" class="contentBottom clear">

                    <div class="page-box fr">
                        <div id="page-box" class="page-box house-lst-page-box" comp-module="page"
                             page-url="/ershoufang/pg{page}c3611060491220"
                             page-data="{&quot;totalPage&quot;:3,&quot;curPage&quot;:1}">

                            <a class=" pageindex" href="javascript:;">总条数:<span id="totalCount">0</span></a>
                            <a class="on pageindex" href="javascript:;" data-page="2">当前页:<span id="index">0</span></a>
                            <a class="pageindex" id="nextpage" href="javascript:;" data-page="2">下一页</a>
                        </div>
                    </div>
                </div>
                <div class="recommendList" id="lessResultWrap">
                    <h2 class="recommendListHeader">猜你喜欢</h2>
                </div>
                <div id="lessResultIds"
                     ids="19051018110100223583,19082718110100124439,19110918110100180777,19081918110100127294,19110418110100179453,19042418110100177819,19103018110100155864,19082418110100178226,18122918110100124886,19110318110100182190,19092918110100196318">
                    <ul data-component="lessResult" class="sellListContent VIEWDATA" data-view-evtid="11147"
                        data-view-event="RecoModuleEXP" data-action="source_type=PC搜索少结果">


                        <li class="clear VIEWDATA CLICKDATA" data-click-evtid="11146" data-click-event="RecoClick"
                            data-view-evtid="11145" data-view-event="RecoItemEXP"
                            data-action="source_type=PC搜索少结果&amp;click_position=0&amp;fb_expo_id=r1575946128300523708640231510">
                            <a class="img" href="https://cq.ke.com/ershoufang/19102218110100141885.html"
                               target="_blank">
                                <img class="lj-lazy" src="./index_files/pc1_lza1y3GVZ_1.jpg!m_fill,w_280,h_210,f_jpg"
                                     alt="">
                            </a>
                            <div class="info clear">
                                <div class="title">
                                    <a href="https://cq.ke.com/ershoufang/19102218110100141885.html"
                                       target="_blank">业主诚心出售，重新装修精装可直接拎包入住，满2指标</a>

                                </div>
                                <div class="address">
                                    <div class="houseInfo">
                                        <span class="houseIcon"></span>
                                        <a href="javascript:;" target="_blank" data-el="region">珠江华轩</a>

                                        <span class="divide">/</span>
                                        2室1厅


                                        <span class="divide">/</span>
                                        86.39平米


                                        <span class="divide">/</span>
                                        南



                                    </div>
                                </div>
                                <div class="flood">
                                    <div class="positionInfo">
                                        <span class="positionIcon"></span>


                                        低楼层(共21层)


                                        2006年建


                                    </div>
                                </div>
                                <div class="followInfo"><span class="starIcon"></span>17人关注 / 1月前发布</div>
                                <div class="tag">


                                    <span class=""></span>

                                    <span class=""></span>

                                </div>
                                <div class="priceInfo">
                                    <div class="totalPrice"><span>90</span>万</div>
                                    <div class="unitPrice" data-hid="19102218110100141885" data-rid="珠江华轩"
                                         data-price="10417.9">
                                        <span>单价10417.9元/平米</span>
                                    </div>
                                </div>
                            </div>
                            <div class="listButtonContainer">
                                <div class="btn-follow followBtn CLICKDATA" data-hid="" data-click-evtid="11284"
                                     data-click-event="FavoriteClick"
                                     data-action="Housedel_id=&amp;status=0&amp;source_type=PC列表页房源卡片关注按钮">
                                    <span class="follow-text">关注</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div style="display:none;">
                    <div class="pagination_group_a">
                        <a href="https://cq.ke.com/ershoufang/l1c3611060491220"></a>
                    </div>
                </div>


            </div>
            <!-- 右侧sidebar -->
            <div class="rightLayout">
                <div class="rightContent">


                    <div data-component="suggestAgent" class="suggestAgent" id="suggestAgentContainer"
                         log-mod="ershoufang_list_recommend-agent" style="display: block;">
                        <div class="title">推荐置业顾问</div>
                        <div class="agent">
                            <a class="img LOGVIEW LOGCLICK" data-bl="agent_community" data-el="1000000023028843"
                               data-log_id="20001">
                                <img src="./index_files/cc903198-8f1d-4daf-ae25-1a7412f86994.jpg.32x32.jpg" alt="">
                            </a>
                            <div class="info">
                                <div class="name">
                                    <a target="_blank" data-bl="agent_community" data-el="1000000023028843"
                                       class="LOGCLICK" data-log_id="20001">余浩</a>
                                    <a class="lianjiaim-createtalk LOGCLICK" style="padding: 1px 0 !important;"
                                       title="在线咨询" data-role="beikeim-createtalk" data-ucid="1000000023028843"
                                       data-bl="agentim_community" data-el="1000000023028843" data-log_id="20001"
                                       data-source-port="PC:ershou_ershoufang_list_xiaoquguwen"
                                       data-source-extends="community_id=3611060491220&amp;port=pc_beike_ershou_xiaoquliebiao_guwen&amp;app_data={&quot;business_dig_v&quot;:&quot;&quot;}"></a>
                                </div>
                                <div class="phone">4006163920转4323</div>
                            </div>
                        </div>
                        <div class="agentInfo" title="有任何买房、卖房问题，欢迎联系我">有任何买房、卖房问题，欢迎联系我</div>
                    </div>
                    <div data-component="C_SidebarKandian" style="display: block;">
                        <div class="list-kandian">
                            <div class="title">
                                看点
                                <a href="https://kandian.ke.com/" class="btn-more" target="_blank">更多</a>
                            </div>
                            <div class="bd">
                                <div class="item">
                                    <a class="tit  CLICKDATA" data-view-evtid="17324" data-view-event="ItemExpo"
                                       data-click-evtid="17325" data-click-event="WebClick"
                                       data-action="content_id=4055142&amp;content_title=12月起，买二手房请做好这5个细节，否则还是别买了！&amp;beike_id=00000000000000101230&amp;beike_name=楼市每日观察&amp;bd_source=1&amp;img_count=0&amp;position=1&amp;recom_type=1&amp;recom_scene=11"
                                       href="https://kandian.ke.com/detail/NDA1NTE0Mg==.html?from=pc_ershoufang"
                                       target="_blank"
                                       title="12月起，买二手房请做好这5个细节，否则还是别买了！">12月起，买二手房请做好这5个细节，否则还是别买了！</a>
                                    <div class="sub-tit">
                                        正所谓“细节决定成败”，买房也是如此！在买房时，一旦你忽视了任何一个细节，那么你买的房子必然也就会存在许多麻烦，尤其是买二手房。要知道二手房存在已久，而且已经过多人之手，必然会存在许多问题。在此，小编要说的是，12月起，买二手房请做好以下这
                                    </div>
                                    <span class="arrow"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-component="C_SidebarBaike" style="display: block;">
                        <div class="list-baike">
                            <div class="title">
                                热门百科
                                <a href="https://news.ke.com/cq/baike/" class="btn-more" target="_blank">更多</a>
                            </div>
                            <div class="bd">

                                <div class="item">
                                    <a href="https://news.ke.com/cq/baike/0327972.html" target="_blank" class="tit"
                                       title="租房签合同要注意什么？">租房签合同要注意什么？</a>
                                    <div class="sub-tit">
                                        租房的最后一道流程就是签租房合同。租房合同：是指住房出租人和承租人在租赁住房时签订的，用来明确双方权力和义务的协议。固签租房合同的注意事项十分重要。
                                    </div>
                                    <span class="arrow"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sticky-wrapper" class="sticky-wrapper" style="height: 297px;">
                        <div data-component="C_sidebarDownload" style="width: 180px;">
                            <div class="download sohu-hide">
                                <div class="title">下载APP</div>
                                <div class="qr-code">
                                    @*<img width="94" height="94" src="./index_files/getDownloadQr(2)"
                                           alt="下载贝壳找房APP">*@
                                    <div class="text">
                                        <p>扫描上方二维码</p>
                                        <p>随时查看新房源</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>


        <div data-component="recommendXinfang" id="newHousePush" class="newHousePush">
            <div class="newHousePushContainer">
                <h3>推荐楼盘</h3>
                <ul log-mod="ershoufang_list_newHouseRecommand">
                    <li>
                        <a class="pic CLICKDATA  LOGVIEW LOGCLICK" href="http://cq.fang.ke.com/loupan/p_bcbitli/"
                           title="联发状元坊" target="_blank" data-bl="list" data-log_id="40001" data-el=""
                           data-log_index="1" data-click-evtid="22485" data-click-event="WebClick"
                           data-view-evtid="22484" data-view-event="ItemExpo"
                           data-action="source_type=二手列表页底部推荐新房&amp;fb_expo_id=r15759461281320191638453809960&amp;click_position=0&amp;project_name=bcbitli">
                            <span class="bg"></span>
                            <img src="##" alt="联发状元坊" title="联发状元坊">
                            <div class="description">巴南－联发状元坊</div>
                        </a>
                        <div class="price">
                            <i>21000</i>
                            元/平
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</body>
</html>
<script src="webfile/jquery.js"></script>
<script src="webfile/index.js"></script>
<script type="text/javascript">


    var data = {
        PageIndex: 0,
        PageSize: 20
    }
    var buildingList = function (data) {
        PostData($.Public_Url + "api/values/list", JSON.stringify(data), function (jsonData) {
            if (jsonData.code == "0") {
                //楼盘页面渲染
                CreateBuildingList(jsonData);
            } else {
                alert("获取楼盘列表失败")
                console.log(jsonData, "获取楼盘列表失败--1107");
            }
        }, function (jsonData) {
            console.log(jsonData, "获取楼盘接口报错--1110");
        }, true);
    }
    buildingList(data);


    //表单的提交
    $(".searchButton").bind("click", function () {

        var keywords = $("#searchInput").val();   
        if (keywords != "") {
              
            data.Keyword = keywords;
            PostData($.Public_Url + "api/home/search", JSON.stringify(data), function (jsonData) {
                if (jsonData.code == "0") {

                    //楼盘页面渲染
                    CreateBuildingList(jsonData);

                } else {
                    alert("筛选楼盘列表失败")
                    console.log(jsonData, "筛选楼盘列表失败--1063");
                }
            }, function (jsonData) {
                console.log(jsonData, "筛选楼盘列表报错--1110");
            }, true);
        }
    });



</script>